{% extends 'main.html'%}


{%block content%}
<div>
    {% if page == 'login' %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label>User Name</label>
            <input type="text" name="username" placeholder="Username">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="submit" value="submit">

        </form>
        <p>haven't signed up yet?</p>
        <a href="{% url 'register' %}">Register</a>
    </div>
    {%else%}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" name="submit" value="Register">

        </form>
        <p>Already signed up</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {%endif %}

</div>
{%endblock content%}